* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    border: 4px solid black;
    width: 900px;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 230px;
    column-gap: 40px;
    
}

#header {
    text-transform: uppercase;
    text-align: center;
    background-color: #ccc;
    margin: 0;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: -19px;
   
}

#sale {
    color: #fff;
    background-color: red;
    width: 50px;
    text-align: center;
    position: relative;
    top: -12px;
    left: -25px;
}

#img {
    margin-top: -20px;
}

#img img {

    width: 100%;
    height: auto;
}

#prise {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

#ship {
    text-transform: uppercase;
    margin-top: 2px;
    color: rgb(113, 112, 112);
}

h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

ul {
    margin-left: 30px;
}

button {
    color: #fff;
    background-color: black;

    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 40px;
}

button:hover {
    background-color: #ccc;
    color: black;
}

.black{
    width: 15px;
    height: 15px;
    background-color: black;
}

.blue{
    width: 15px;
    height: 15px;
    background-color: blue;
}

.red{
    width: 15px;
    height: 15px;
    background-color: red;
}

.yellow{
    width: 15px;
    height: 15px;
    background-color: yellow;
}

.green{
    width: 15px;
    height: 15px;
    background-color: green;
}

.brown{
    width: 15px;
    height: 15px;
    background-color: brown;
}

#color div{
    display: inline-block;
    padding-top: 10px;
    margin-top: 20px;
    /* display: flex; */
    /* justify-content: space-around; */

}

a{
    color: black;
   
}

a:hover{
    color: #ccc;
}

#p-two{
    display: grid;
    grid-template-columns: 100px  120px;
    column-gap: 60px;
}

#paragrap{
    margin-bottom: 15px;
    line-height: 1.4;
}

li{
    margin-bottom: 7px;
}