body{
    border: 4px solid black;
    font-family: sans-serif;
}
h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background-color: lightgray;
}
#price{
    font-size: 24px;
}
#free-shipping{
    color: gray;
    text-transform: uppercase;
}
a{
    color:black;
}
a:hover{
    text-decoration: none;
}
h3{
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    list-style-type: square;
}
button{
    font-size: 20px;
    background-color: black;
    color: white;
    text-transform: uppercase;
}
button:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}