/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */


body {
    border: 4px solid black;
    font-family: sans-serif;
    width: 825px;
    margin: 50px auto;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: lightgray;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
  #price {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 28px;
    
  }
  #free-shipping {
    color: gray;
    text-transform: uppercase;
    margin-top: 30px;
   
  }
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
  h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
  }
  ul {
    list-style-type: square;
    margin-left: 20px;
  }
  ul > li {
    margin-top: 10px;
  }
  button {
    font-size: 20px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    border: 2px solid black;
    margin-top: -5px;
  }
  button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  #sale {
    width: 50px;
    height: 20px;
    position: relative;
    top: -10px;
    left: -30px;
    background-color: red;
    color: white;
    text-align: center;
    float:left
  }
  #black {
    width: 10px;
    height: 10px;
    background-color: black;
  }
  #blue {
    width: 10px;
    height: 10px;
    background-color: blue;
  }
  #red {
    width: 10px;
    height: 10px;
    background-color: red;
  }
  #yellow {
    width: 10px;
    height: 10px;
    background-color: yellow;
  }
  #green {
    width: 10px;
    height: 10px;
    background-color: green;
  }
  #brown {
    width: 10px;
    height: 10px;
    background-color: hsla(0, 25%, 34%, 0.899);
  }
  #color {
    padding-top: 10px;
  }
  
  #color div {
    display: inline-block;
  }


/* photo */
#photo {
    float: left;
    width: 27%;
}

/* content */

#content {
    float: right;
    width: 67%;
}

#p-one {
    float: left;
    width: 45%;
    
}

#p-two {
    float: right;
    width: 45%;
   

}

#left {
    float: left;
    width: 50%;
}

#right {
    float: right;
    width: 50%;
    margin-bottom: 24px;
}
