*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main{
    width: 900px;
    height: 3400px;
    margin: 50px auto;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

/* avatar */
#photo-one img{
    width: 800px;
    height: auto;
    margin-left: 45px;
    margin-top: 50px;
}

#info-ava{
    font-size: 20px;
    text-align: center;
    margin-top: -339px;
    position: absolute;
    margin-left: 344px;

}

/* infomation */

#infomation{
    text-transform: uppercase;
    margin-top: -4px;
    margin-left: 123px;
    margin-right: 123px;
    
}

#infomation a{
    color: #000;
    text-decoration: none;
}

#infomation a:hover{
    color: rgb(157, 156, 156);
}

table, tr, td{
    border:1px solid rgb(245, 242, 242);
    height: 54px;
    width: 650px;
}
table{
    border-collapse:collapse;
}

/* target */
#container-target{
    width: 900px;
    padding: 10px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    line-height: 1.6;

}

#target-one{
    background-color: rgb(237, 234, 234);
    width: 400px;
    height: 300px;
    margin-left: 35px;
    margin-top: -10px;
}

#target-two{
    background-color:rgb(210, 207, 207);
    width: 400px;
    height: 300px;
    margin-top: -10px;
 }
 

#target-one h2{
    margin-left: 40px;
    margin-top: 50px;
}

#target-one p{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#target-two h2{
    margin-left: 40px;
    margin-top: 50px;
}

#target-two ul{
    margin-top: 10px;
    margin-left: 80px;
}

#icon{
    color: rgb(32, 32, 234);
    font-size: 17px;
    margin-left: 90px;
    margin-top: 10px;
    
}

#icon a{
    text-decoration: none;
}

#icon a:hover{
    color: rgb(135, 129, 230);
}

/* container-experience */
#container-exp{
    width: 900px;
    padding: 10px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    line-height: 1.6;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* experience */
#experience{
    background-color: rgb(192, 240, 192);
    width: 250px;
    height: 700px;
    border: 1px solid #ccc;
    margin-left: 35px;
}

#exp-one h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}

#exp-one i{
    margin-left: 15px;
    font-size: 30px;
}

#one{
    margin-left: 15px;
}

#one i{
    font-size: 10px;
}

#one p b{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(90, 110, 207);
    color: #fff;
}

#one h3 i{
    color: blue;
}

.time{
    font-style: italic;
}

#two{
    margin-left: 15px;
    margin-top: 10px;

}

#two i{
    font-size: 10px;

}

#two h3 i{
    color: blue;

}

/* skill */
#skill{
    background-color: rgb(238, 161, 161);
    width: 250px;
    height: 700px;
    border: 1px solid #ccc;
    margin-left: 25px;

}

#skill-one h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    
}

#skill-one i{
    margin-left: 30px;
    font-size: 30px;
}

#skill-two{
    margin-left: 25px;
}

.point{
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}

.no-point{
    background: rgb(151, 150, 150);
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}

/* language */
#language{
    background-color: rgb(234, 234, 178);
    width: 250px;
    height: 700px;
    border: 1px solid #ccc;
    margin-left: 25px;

}

#language-one h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    
}

#language-one i{
    margin-left: 20px;
    font-size: 30px;
}

#language-two{
    margin-left: 25px;

}

/* work */
#work{
    background-color: rgb(190, 178, 234);
    width: 250px;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 35px;
    margin-top: 30px;

}

#work-one h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    
}

#work-one h2 i{
    margin-left: 25px;
    font-size: 30px;
}

#work-two{
    margin-left: 15px;

}

#work-two h3 i{
    font-size: 10px;
    color: blue;
}

#work-three{
    margin-left: 15px;

}

#work-three h3 i{
    font-size: 10px;
    color: blue;
}

/* Education */
#Education{
    background-color: rgb(71, 211, 122);
    width: 250px;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 25px;
    margin-top: 30px;

}

#Education-one h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    
}

#Education-one i{
    margin-left: 25px;
    font-size: 30px;
}

#Education-two{
    margin-left: 10px;
}

#Education-two h3 i{
    font-size: 10px;
    color: blue;
}

#Education-three{
    margin-left: 10px;

}

#Education-three h3 i{
    font-size: 10px;
    color: blue;
}

/* interests */
#interests{
    background-color: rgb(237, 117, 87);
    width: 250px;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 25px;
    margin-top: 30px;

}

#interests-one h2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    
}

#interests-one i{
    margin-left: 25px;
    font-size: 30px;
}

#container-inter{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#container-inter div p{
    font-size: 11px;
    margin-top: 10px;
}

#interests-two{
    margin-left: 5px;
}

#interests-two i{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    margin-left: 5px;
    font-size: 30px;
    color: rgb(97, 97, 190);

}

#interests-two p{
    margin-left: 5px;
}

#interests-three{
    margin-left: 10px;
    
}

#interests-three i{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    margin-left: 5px;
    font-size: 30px;
    color: rgb(97, 97, 190);


}

#interests-three p{
    margin-left: 0px;
}

#interests-four{
    margin-left: 10px;
    
}

#interests-four i {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    margin-left: 5px;
    font-size: 30px;
    color: rgb(97, 97, 190);
}

#interests-four p{
    margin-left: 10px;
}

#interests-five{
    margin-left: 10px;

}

#interests-five i {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    margin-left: 5px;
    font-size: 30px;
    color: rgb(97, 97, 190);

}

#interests-five p{
    margin-left: 10px;
}

/* container-certificate */

#certificate{
    width: 800px;
    height: 400px;
    background-color: rgb(232, 230, 230);
    margin-left: 45px;
    margin-top: 40px;
}

#certificate-one h2{
    padding-top: 40px;
    padding-left: 70px;
}

#certificate-two{
    margin-left: 32px;
    margin-top: 35px;
    width: 370px;
    height: 100px;
    border-right: 2px solid #d6c08d;
}

#certificate-two img{
    width: 110px;
    height: 100px;
}

#cer-two{
    font-size: 11px;
    margin-top: -90px;
    margin-left: 120px;
    line-height: 1.6;
}

#certificate-three{
    margin-top: -100px;
    margin-left: 430px;
    width: 350px;
    height: 100px;
}

#certificate-three img{
    width: 110px;
    height: 100px;
}

#cer-three{
    font-size: 11px;
    margin-top: -90px;
    margin-left: 120px;
    line-height: 1.6;

}

#certificate-four{
    margin-top: 30px;
    margin-left: 33px;
    width: 740px;
    height: 100px;
    border-top: 1px solid #d6c08d;
}

#certificate-four img{
    margin-top: 30px;
    width: 110px;
    height: 100px;
}

#cer-four{
    font-size: 11px;
    margin-top: -90px;
    margin-left: 120px;
    line-height: 1.6;
}

/* container-project */

#project-one {
    width: 250px;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 50px;
    margin-left: 45px;
}

#pro-one img{
    width: 248px;
    height: 200px;
}

#project-two {
    width: 250px;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: -600px;
    margin-left: 316px;
}

#pet-one img{
    width: 248px;
    height: 200px;
}

#project-three {
    width: 250px;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: -600px;
    margin-left: 593px;
}

#news-one img{
    width: 248px;
    height: 200px;
}

/* project-one */
#pro-two h3{
    border-top: 1px solid #ccc;
    height: 50px;
    padding-top: 15px;
}

#pro-three{
    border-top: 1px solid #ccc;
    height: 40px;
    padding-top: 10px;

}

#pro-four{
    border-top: 1px solid #ccc;
    height: 110px;
    padding-top: 10px;
}

#pro-five{
    border-top: 1px solid #ccc;
    height: 80px;
    padding-top: 10px;
}

#pro-six{
    border-top: 1px solid #ccc;
    height: 80px;
    padding-top: 10px;
}

.para{
    margin-top: -18px;
    margin-left: 100px;
}

#pro-three p b{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(90, 110, 207);
    color: #fff;
}

/* project-two */

#pet-two h3{
    border-top: 1px solid #ccc;
    height: 50px;
    padding-top: 5px;
    
}

#pet-three{
    border-top: 1px solid #ccc;
    height: 40px;
    padding-top: 10px;

}

#pet-four{
    border-top: 1px solid #ccc;
    height: 160px;
    padding-top: 10px;
}

#pet-five{
    border-top: 1px solid #ccc;
    height: 80px;
    padding-top: 10px;
}

#pet-six{
    border-top: 1px solid #ccc;
    height: 80px;
    padding-top: 10px;
}

.para-one{
    margin-top: -18px;
    margin-left: 100px;
}

#pet-three p b{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(90, 110, 207);
    color: #fff;
}

/* projecr-three */

#news-two h3{
    border-top: 1px solid #ccc;
    height: 50px;
    padding-top: 5px;
    
}

#news-three{
    border-top: 1px solid #ccc;
    height: 40px;
    padding-top: 10px;

}

#news-four{
    border-top: 1px solid #ccc;
    height: 130px;
    padding-top: 10px;
}

#news-five{
    border-top: 1px solid #ccc;
    height: 80px;
    padding-top: 10px;
}

#news-six{
    border-top: 1px solid #ccc;
    height: 80px;
    padding-top: 10px;
}

.para-two{
    margin-top: -18px;
    margin-left: 100px;
}

#news-three p b{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(90, 110, 207);
    color: #fff;
}
/* container-contact */

#contact{
    width: 800px;
    height: 100px;
    background-color: rgb(231, 228, 228);
    margin-top: 50px;
    margin-left: 45px;
}

#contact-one{
    width: 150px;
    height: 100px;
    padding-top: 40px;
    margin-left: 160px;
    font-size: 20px;
   
}

#contact-one a{
    text-decoration: none;
    color: blue;

}

#contact-one a:hover{
    color: rgb(171, 169, 169);
}

#contact-one i{
    color: #fff;
    border: 2px solid rgb(98, 98, 246);
    padding: 5px;
    border-radius: 25px;
    margin-left: 5px;
    background-color: rgb(98, 98, 246);
}

#contact-two{
    width: 150px;
    height: 100px;
    margin-top: -61px;
    margin-left: 340px;
    font-size: 20px;

}

#contact-two a{
    text-decoration: none;
    color: blue;

}

#contact-two a:hover{
    color: rgb(171, 169, 169);
}

#contact-two i{
    color: #fff;
    border: 2px solid rgb(98, 98, 246);
    padding: 5px;
    border-radius: 25px;
    margin-left: 5px;
    background-color: rgb(98, 98, 246);
}

#contact-three{
    width: 150px;
    height: 100px;
    margin-top: -100px;
    margin-left: 520px;
    font-size: 20px;

}

#contact-three a{
    text-decoration: none;
    color: blue;
}

#contact-three a:hover{
    color: rgb(171, 169, 169);
}

#contact-three i{
    color: #fff;
    border: 2px solid rgb(98, 98, 246);
    padding: 5px;
    border-radius: 25px;
    margin-left: 5px;
    background-color: rgb(98, 98, 246);
}

/* container-advanced */
#advanced{
    position: relative;
}

#advanced img{
    width: 160px;
    height: 180px;
    border: 4px solid #fff;
    border-radius: 100px;
    position: absolute;
    margin-left: 372px;
    margin-top: -77px;
}

