*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: auto;
}

.container-fluid{
    padding: 0;
}

/* img-avt */
img{
    width: 100%;
}

/* part2 - navbar */
.part2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    position: relative;
}

.part2 a{
    text-decoration: none;
}

.part2-1{
    width: 157px;
    height: 64px;
}

.part2-2{
    padding-top: 20px;
    color: black;
}

/* tên trên ảnh đại diện */
.part2-3{
    position: absolute;
    margin-top: -550px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.part2-4{
    color: rgb(0, 81, 255);

}

.part2-5{
    width: 400px;
    height: 64px;
    padding-top: 6px;
}

.part2-5 p{
    margin: 0;
}

.part2-6{
    font-size: 20px;
}

.border-lr{
    border-left: 1px solid rgb(189, 187, 187);
    border-right: 1px solid rgb(189, 187, 187);
}



/* part3 - thong tin */
#part3{
    margin: 0;
    display: flex;
    border-top: 1px solid rgb(189, 187, 187);
}

.part3-1{
    width: 50%;
    background-color: rgb(228, 222, 222);
    padding-left: 170px;
}

/* thông tin cá nhân */
.part3-2{
    text-align: left;
    padding-top: 50px;
}

.part3-3{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: justify;
}

.part3-4{
    width: 50%;
    background-color: rgb(183, 180, 180);
    padding-right: 70px;
    padding-left: 100px;
}

.icon-1 a{
    text-decoration: none;
}

.form-group:hover{
    cursor: pointer;
}

.form-group label{
    color: rgb(91, 89, 89);
}

.form-group{
    padding-top: 30px;
}

.submit{
    margin-top: 10px;
    margin-bottom: 20px;
}

.hidden{
    display: none;
}

/* part4 - ly lich */
#part4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 160px;
    grid-gap: 20px
}

.part4-1{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
}

.part4-2{
    border: 1px solid rgb(223, 220, 220);
}

.part4-3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fa-solid{
    font-size: 10px;
    color: rgb(0, 81, 255);

}

.part4-4{
    padding-left: 10px;
    text-align: left;
}

.part4-4 p{
    padding-left: 20px;
}

.part4-5{
    background-color: rgb(0, 81, 255);
    border-radius: 6px;
    color: #fff;
}

.part4-6{
    font-size: 30px;
    color: black;
}

.part4-7{
    display: flex;
}

.part4-8{
    color: rgb(0, 81, 255);
    border: 1px solid rgb(0, 81, 255);
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    width: calc(100% /4);
}

.part4-9 p{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.part4-9{
    padding-left: 5px;
}

.point{
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}

.no-point{
    background: rgb(151, 150, 150);
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
}

.skill-viewless,
.skill-viewmore,
.language-viewless,
.language-viewmore,
.hobby-viewless,
.hobby-viewmore,
.activity-viewless,
.activity-viewmore,
.education-viewless,
.education-viewmore,
.experience-viewless,
.experience-viewmore{
    width: 130px;
    height: 40px;
    background-color: rgb(234, 228, 143);
    border-radius: 50px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.skill-viewless:hover,
.skill-viewmore:hover,
.language-viewless:hover,
.language-viewmore:hover,
.hobby-viewless:hover,
.hobby-viewmore:hover,
.activity-viewless:hover,
.activity-viewmore:hover,
.education-viewless:hover,
.education-viewmore:hover,
.experience-viewless:hover,
.experience-viewmore:hover{
    cursor: pointer;
    background-color: rgb(224, 224, 100);
    
}

.skill-viewless p,
.skill-viewmore p,
.language-viewless p,
.language-viewmore p,
.hobby-viewless p,
.hobby-viewmore p,
.activity-viewless p,
.activity-viewmore p,
.education-viewless p,
.education-viewmore p,
.experience-viewless p,
.experience-viewmore p{
    padding: 8px;
}

/* part5 - chung chi-giai thuong */
#part5{
    background-color: rgb(245, 242, 242);
    padding-left: 160px;
    padding-right: 160px;
}

.part5-1{
    margin-top: 50px;
    padding-top: 50px;
}

.part5-2{
    display: flex;
    margin-top: 40px;
}

.part5-3{
    padding-bottom: 20px;
    border-bottom: 1px solid orange;
}

.part5-5{
    width: 200px;
    height: 100px;
}

.part5-6{
    border-left: 1px solid orange;
}

.part5-7{
    padding-bottom: 40px;
}

/* part-DA - Du an */
#part-DA{
    margin-left: 160px;
    margin-top: 50px;
    margin-right: 150px;
}

.part6{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 20px;
}


.part6-1{
    border: 1px solid #ccc;
    width: 32%;
}

.part6-3{
    text-decoration: none;
    color: black;
}

.part6-4{
    width: 100%;
    height: 400px;
}

.part6-6{
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.part6-7{
    width: 70%;
}

.part6-8{
    width: 30%;
}

.part6-10{
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;  
}

.part6-11{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
}

.part6-12{
    background-color: rgb(0, 81, 255);
    border-radius: 20px;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
    width: 70px;
    height: 35px;
}

.part6-13{
    margin-right: 10px;
}

.part6-14{
    display: flex;
    margin-top: 6px;
}



/* footer */
.part7{
    width: 100%;
    background-color: rgb(228, 226, 226);
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
    height: 80px;
    padding-top: 25px;
    justify-content: center;
}

.part7-1 a{
    text-decoration: none;
}

.part7-2{
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(0, 110, 255);
}


