
body{
    border: 4px solid black;
    font-family: sans-serif;
    width: 825px;
    margin: 50px auto;
}

img{
    width: 200px;
    height: auto;
}
h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background-color: lightgray;
    padding: 15px;
}
#price{
    font-size: 24px;
    margin-bottom: 20px;
}
#free-shipping{
    color: gray;
    text-transform: uppercase;
}
a{
    color:black;
}
a:hover{
    text-decoration: none;
}
h3{
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
}
ul{
    list-style-type: square;
    margin-left: 20px;
}
ul>li{
    margin-top: 10px;
}
button{
    font-size: 20px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    border: 2px solid black;
}
button:hover{
    background-color: white;
    color:black;
    cursor: pointer;

}