/* reset CSS */

* {
    /* emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    margin: 5% 23%;
    width: 794px;
}

/* persional-info */

h2 {
    margin-top: 50px;
}

.info-table {
    width: 300px;
}

tr {
    height: 30px;
}

#avatar img {
    width: 100px;
    height: auto;
}

#avatar {
    float: right;
    margin-top: -180px;
}

/* career-goals */

#career-goals {
    margin-top: 50px;
}

#career-goals div {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

#career-goals p {
    margin-top: 20px;
    text-align: justify;
}

/* educations */

#educations {
    margin-top: 50px;
}

#educations #header {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

.education-item {
    margin-top: 20px;
    margin-left: 20px;
}

.education-item .left {
    width: 200px;
    vertical-align: top;
}

.education-item .right {
    width: 500px;
}

.education-item {
    border-bottom: 2px solid #ccc;
}

/* #educations .left:before {
    content: "";
    background-color: #ccc;
    position: absolute;
    bottom: 187px;
    top: 489px;
    left: 235px;
    width: 2px;
    z-index: -1;
} */
#educations ol {
    list-style-type: none;
}

#educations .left {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
}

#educations .left:before {
    content: "";
    background-color: #ccc;
    position: absolute;
    bottom: -12px;
    top: -14px;
    left: -13px;
    width: 2px;
}

#educations .left:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z'/%3E%3C/svg%3E");
    position: absolute;
    top: 1px;
    left: -16px;
    height: 7px;
    width: 7px;
}

/* experiences */

#experiences {
    margin-top: 50px;
}

#experiences div h3 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

.experience-item {
    margin-top: 20px;
    margin-left: 20px;
}

.experience-item .left {
    width: 200px;
    vertical-align: top;
}

.experience-item .right {
    width: 500px;
}

.experience-item {
    border-bottom: 2px solid #ccc;
}

/* #experiences .left:before {
    content: "";
    background-color: #ccc;
    position: absolute;
    bottom: 0px;
    top: 708px;
    left: 235px;
    width: 2px;
    z-index: -1;
} */

#experiences ol {
    list-style-type: none;
}

#experiences .left {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
}

#experiences .left:before {
    content: "";
    background-color: #ccc;
    position: absolute;
    bottom: -12px;
    top: -14px;
    left: -13px;
    width: 2px;
}

#experiences .left:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z'/%3E%3C/svg%3E");
    position: absolute;
    top: 1px;
    left: -16px;
    height: 7px;
    width: 7px;
}

/* activities */

#activities {
    margin-top: 50px;
}

#activities div h3 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

.activity-item {
    margin-top: 20px;
}

.activity-item .left {
    width: 200px;
    vertical-align: top;
}

.activity-item .right {
    width: 500px;
}

.activity-item {
    border-bottom: 2px solid #ccc;
}

/* skills */

#skills {
    margin-top: 50px;
}

#skills div h3 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

.skill-item {
    margin-top: 20px;
}

.skill-item .left {
    width: 200px;
}

.skill-item .right {
    width: 500px;
}

.skill-item {
    border-bottom: 2px solid #ccc;
}

/* certificate-prize */

#certificate-prize {
    margin-top: 50px;
}

#certificate-prize div h3 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

.certificate-prize-item {
    margin-top: 20px;
}

.certificate-prize-item .left {
    width: 200px;
}

.certificate-prize-item .right {
    width: 500px;
    text-transform: uppercase;
}

.certificate-prize-item {
    border-bottom: 2px solid #ccc;
}

/* interests */
#interests {
    margin-top: 50px;
}

#interests div h3 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

#interests li {
    margin-left: 20px;
}

#interests ul {
    margin-top: 20px;
}

/* project */

#project {
    margin-top: 50px;
}

#project div h3 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    margin-top: 20px;
}

#project ul {
    list-style-position: inside;
}

#project p {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* contact */

#contact {
    margin-top: 50px;
}

#contact div h3 {
    border-bottom: 2px solid;
    text-transform: uppercase;
}

#contact ol {
    list-style-position: inside;
}
